* {
  box-sizing: border-box;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  /*background-color: #f1f1f1;*/
  padding: 20px;
  width: 30%;
}

/* Main column */
.main {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  /*background-color: white;*/
  padding: 20px;
  width: 70%;
}

/* Fake image, just for this example */
.img {
  /* background-color: #aaa;*/
  width: 100%;
  padding: 20px;
}
