* {
  box-sizing: border-box;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  /*background-color: #f1f1f1;*/
  padding: 20px;
  width: 30%;
}

/* Main column */
.main {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  /*background-color: white;*/
  padding: 20px;
  width: 70%;
}

/* Fake image, just for this example */
.img {
  /* background-color: #aaa;*/
  width: 100%;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



* {
  box-sizing: border-box;
}
.item {
  display: inline-block;
}
/* on PC */
@media screen and (min-width: 550px) {
  .featured-image {
    float: left;
    width: 40%;
    padding-right: 15px;
  }
  .featured-image img {
    width: 100%;
  }
  .description {
    float: left;
    width: 60%;
  }
}
/* on Mobile */
@media screen and (max-width: 550px) {
  .featured-image {
    width: 100%;
  }
  .featured-image img {
    width: 100%;
  }
  .description {
    width: 100%;
  }
}
